{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About US</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'mainstat/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstat/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'login' %}">User Login</a></li>
                                <li><a href="{% url 'alogin' %}">Admin Login</a></li>
                                <li class="active"><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact US</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="{% url 'login' %}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'mainstat/admin-img/codebg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>About Us</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="row text-dark">
                        <div class="rounded-top p-5 mt-lg-5 mb-lg-5">
                            <h4 class="display-6 mb-4">Augmented reality (AR) applications could overlay music recommendations onto real-world scenes, enhancing user experiences.</h4>
                            <p class="mb-4">Combining facial expressions with other modalities (e.g., voice tone, heart rate) could enhance recommendation accuracy. In summary, facial emotion-based music recommendation systems hold immense promise. As technology advances, interdisciplinary collaboration and user-centric design will shape their future impact.</p>
                            <div class="row g-5 pt-2 mb-5">
                                <div class="col-12" style="text-align: justify;">
                                    <img class="img-fluid mb-4" src="{% static 'mainstat/admin-img/history.png' %}" alt="icon" style="height: 55px;">
                                    <h5 class="mb-3">Our History</h5>
                                    <span>In a stressful environment, it might be difficult to boost and maintain human productivity for various tasks. Music is an essential mood stabilizer that helps people feel better, which in turn improves their state of mind and acts as a stimulus to boost productivity. It takes time to create and manage a personalized song playlist for continuous music play. If the music player chooses a song for the user based on their present mood, it would be incredibly beneficial. The main source of stress during a pandemic is being forced to stay at home under quarantine, which has led to many individuals turning to music as a coping mechanism. More than 500,000 people in the US joined a Meta Group dubbed "Quarantine Karaoke" and performed songs for one another on social media.
                                         So many people turned to music to combat their loneliness. Humans have the innate capacity to infer someone's emotions from their face. If acquired using an electronic device, this skill has practical applications in the outside world. Language is not as effective at evoking emotions and feelings as music. As humans, music has a powerful ability to reach deep inside of our emotional core. As a result, enjoying wonderful music can make us happier. So many people turned to music to combat their loneliness. By using facial expression recognition algorithms, we may design an application that will capture the user's feelings and so make this challenge easier to understand. Once the emotion has been captured, a selection of music is recommended based on the sentiment.</span>
                                </div>
                                
                            </div>
                            <a class="btn btn-outline-info rounded-pill py-3 px-5" href="">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="">Categories</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 text-white">
                    <p><strong>Address:</strong> SNIST ,Hyderabad</p>
                    
                    
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This webpage is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">T0 T5 T7</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    
    
                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer Section End -->

      <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'mainstat/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mainstat/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainstat/js/player.js' %}"></script>
    <script src="{% static 'mainstat/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'mainstat/js/mixitup.min.js' %}"></script>
    <script src="{% static 'mainstat/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'mainstat/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mainstat/js/main.js' %}"></script>

</body>

</html>